VITE_SUPABASE_URL=https://ovhwxfdtkzwxfomdlgjv.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im92aHd4ZmR0a3p3eGZvbWRsZ2p2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEyNjg3NDYsImV4cCI6MjA4Njg0NDc0Nn0.07mbZNKnE5yIi9BVwJXt1xe9dYB5DQSYDb_KOXnZU5k
